body, html {
    background-color: #fff;
    height: 100%;
}

.error {
    color: red;
}

#leaveCallButton {
  background-color: red;
  border: none;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: #fefefe;
    cursor: pointer;
    font-weight: bold;
    margin: 5px;
    padding: 10px
}

#videoButton {
    background-color: #1a73e8;
    border: none;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: #fefefe;
    cursor: pointer;
    font-weight: bold;
    margin: 5px;
    padding: 10px;
}